body{
font-family:Roboto, sans-serif;
margin:0;
}

.hero{
background:#1F2937;
color:#F9FAF8;
padding:20px 200px 80px;
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:80px;
}

.logo{
font-size:24px;
font-weight:900;
}

.nav ul{
display:flex;
gap:20px;
list-style:none;
color:#E5E7EB;
font-size:18px;
}

.hero-content{
display:flex;
justify-content:space-between;
align-items:center;
gap:40px;
}

.hero-left h1{
font-size:48px;
font-weight:900;
margin:0 0 10px;
}

.hero-left p{
color:#E5E7EB;
font-size:18px;
margin-bottom:20px;
}

button{
background:#3882F6;
color:white;
border:none;
padding:10px 28px;
border-radius:8px;
font-weight:bold;
cursor:pointer;
}

.hero-image{
background:gray;
padding:70px 100px;
}

.info{
padding:60px 200px;
text-align:center;
}
.info h2{
font-size:36px;
font-weight:900;
color:#1F2937;
margin-bottom:40px;
}

.cards{
display:flex;
justify-content:center;
gap:40px;
}

.card{
max-width:150px;
}

.box{
height:150px;
border:3px solid #3882F6;
border-radius:12px;
margin-bottom:10px;
}

.quote{
background:#E5E7EB;
padding:100px 300px;
}

.quote-text{
font-size:36px;
font-weight:300;
color:#1F2937;
font-style:italic;
}

.author{
text-align:right;
font-weight:900;
}

.cta{
padding:80px 200px;
}

.cta-box{
background:#3882F6;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:40px 100px;
border-radius:10px;
}

.cta-box button{
background:transparent;
border:2px solid white;
}
