body{
font-family:Roboto, sans-serif;
margin:0;
}

.hero{
background:#1F2937;
color:#F9FAF8;
padding:20px 200px 80px;
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:80px;
}

.logo{
font-size:24px;
font-weight:900;
}

.nav ul{
display:flex;
gap:20px;
list-style:none;
color:#E5E7EB;
font-size:18px;
}

.hero-content{
display:flex;
justify-content:space-between;
align-items:center;
gap:40px;
}

.hero-left h1{
font-size:48px;
font-weight:900;
margin:0 0 10px;
}

.hero-left p{
color:#E5E7EB;
font-size:18px;
margin-bottom:20px;
}

button{
background:#3882F6;
color:white;
border:none;
padding:10px 28px;
border-radius:8px;
font-weight:bold;
cursor:pointer;
}

.hero-image{
background:gray;
padding:70px 100px;
}

.info{
padding:60px 200px;
text-align:center;
}